<!-- NAV -->
<nav class="nav">
  <div class="container nav__inner">
    <a href="index.html" class="nav__logo"><img src="images/alpha-logo.png" alt="Alpha" class="nav__logo-icon"> <span>Business</span></a>
    <button class="nav__hamburger" aria-label="Menu openen">
      <span></span><span></span><span></span>
    </button>
    <ul class="nav__links">
      <li><a href="index.html">Home</a></li>
      <li><a href="wat-we-doen.html">Wat we doen</a></li>
      <li><a href="agenda.html">Agenda</a></li>
      <li><a href="team.html">Team</a></li>
      <li><a href="ervaringen.html">Ervaringen</a></li>
      <li><a href="partners.html">Partners</a></li>
      <li><a href="contact.html" class="nav__cta">Contact</a></li>
    </ul>
  </div>
</nav>
